@import "/src/styles.scss";

.flowers {
    text-align: center;
    height: 100%;
    background-color: $main-color-2;
    padding-top: 2rem;
    .card_container {
        width: 95%;
        margin: 2rem auto 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 2rem;
        .card {
            margin: auto;
            width: 100%;
            img {
                width: 350px;
                height: 250px;
                margin-bottom: 2rem;
                border-radius: 20%;
            }
            h4, p {
                color: $text-color;
            }
            p {
                margin-top: 1rem;
            }

            .card_button {
                background-color: $main-color;
                color: $text-color;
                padding: 14px 28px;
                margin: 20px;
                border: none;
                border-radius: 4px;
                font-size: 18px;
            }

            .full_info {
                width: 95%;
                margin: auto;
                color: $text-color;
            }
        }
    }
}

@media only screen and (max-width: 890px) {
    .card_container {
        width: 50%;
        flex-wrap: wrap;
        margin: auto;
        .card {
            padding-bottom: 1.5rem;
        }
        .full_info {
            padding-bottom: 2rem;
        }
    }
}
