<div class="footer">
    <p>&#169; Chornyi Oleksandr, 2022</p>
    <a href="https://www.instagram.com/"><i class='bx bxl-instagram'></i></a>
    <a href="https://www.facebook.com/"><i class='bx bxl-facebook-square'></i></a>
    <a href="https://www.twitter.com/"><i class='bx bxl-twitter'></i></a>
    <a href="https://www.instagram.com/"><i class='bx bxl-youtube' ></i></a>
    <a href="https://www.github.com/"><i class='bx bxl-github' ></i></a>
    <a href="https://www.linkedin.com/"><i class='bx bxl-linkedin'></i></a>
</div>
