<div *ngIf="flower" class="flower-form">
    <h3>Update Flower</h3>
    <input required class="form-input" type="hidden" [(ngModel)]="flower._links.self.href">
    <label for="title" class="form-label">Title: </label>
    <input required class="form-input" type="text" [(ngModel)]="flower.name">
    <label for="img" class="form-label">URL for image: </label>
    <input class="form-input" type="text" [(ngModel)]="flower.img">
    <label for="description" class="form-label">Description: </label>
    <input required class="form-input" type="text" [(ngModel)]="flower.description">
    <button class="form-button" (click)="updateFlower()">Update flower</button>
</div>
